/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
body{ 
    background-image: url('assets/Background.png');
    background-size: 100%;
    background-attachment: fixed;
    
    
    };

html, body { height: 100%; }
body { margin: 0; font-family: Rock Salt, "Helvetica Neue", sans-serif; }

